data.dtd

<!ELEMENT car-showroom (cars,employees)*>
        <!ELEMENT cars (car)*>
        <!ELEMENT car (brand,model,price)*>
        <!ELEMENT brand (#PCDATA)>
        <!ELEMENT model (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT employees (employee)*>
        <!ELEMENT employee (name,email,address)*>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT address (street,city)*>
        <!ELEMENT street (#PCDATA)>
        <!ELEMENT city (#PCDATA)>